<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="ISO-8859-1">
<title>CRUD</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
	<div class="container mt-4">
		<div class="col-sm-6">

			<form th:action="@{/save}" th:object=${user}  method="POST">
				<div class="card">
					<div class="card-header">
						<h3>Edit User</h3>
					</div>
					<div class="card-body">
					<div class="form-group">
							<label>ID</label> 
							<input th:field="*{id}" type="text" class="form-control" readonly required>
						</div>
						<div class="form-group">
							<label>Name</label> 
							<input th:field="*{name}" type="text" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Date Birth</label> 
							<input th:field="*{dateBirth}" type="text" value="2018-02-01" class="form-control" required>
						</div>
						
					</div>
					<div class="card-footer">
					<input type="submit" value="Save" class="btn btn-success">
					</div>
				</div>
			</form>

		</div>

	</div>
	
</body>
</html>